.sidebar{
    padding-top: 8rem;
    padding-left: 2rem;
    max-width: 30rem;
    width: 100%;
}
.input{
   margin-left: 25px;
   padding: 6px 12px;
}
.content{
    display: flex;
    flex-direction: row;
    gap:2rem;
    padding-top: 3rem;
}
.icons{

}
.info{
    display: flex;
    flex-direction: column;
}